<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://happyhouses.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>happyhouses.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>HappyHouses</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$HappyHouses</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="happyhousesv4Entities" Order="1" Enabled="False">
          <Destination Path="Data Source=wyasnr6wuy.database.windows.net;Initial Catalog=happyhousesv4;User ID=SQLAdmin;Password=IdeLiz12" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="HouseHotelv2.Infrastructure.happyhousesv4Entities, HouseHotelv2" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)happyhousesv4Entities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Infrastructure.happyhousesv4.csdl|res://*/Infrastructure.happyhousesv4.ssdl|res://*/Infrastructure.happyhousesv4.msl;provider=System.Data.SqlClient;provider connection string="Data Source=wyasnr6wuy.database.windows.net;Initial Catalog=happyhousesv4;User ID=SQLAdmin;Password=IdeLiz12"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>