@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>Happy Houses is an application that allows house owners to rent out their properties throughout the year.
    It allows holiday makers to search these properties and make a reservation for a property.  Update reservations and 
    properties through the reservations page and properties page respectively..  </p>
